<!-- video.ejs -->
<!-- <h1>Welcome to video</h1> -->

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Video conversion</h1>
  <p class="fs-5 text-muted">Drop one file into the dropzone.</p>
  <p class="fs-5 text-muted">If no codec is selected ffmpeg will use the best available</p>
</div>

<style>
  .selectpicker {
    height: 50px;
    width: 200px;
  }
  .pickerlabel {
    height: 25px;
    width: 150px;
  }
  .button-container {
    display: flex;
    align-items: vertical;
}
</style>

<!-- File dropdown stuff -->
<script>
    var formData = new FormData();
    var formats,codecs,encoders;

    function isEmpty(value) {
      return (
        value === undefined ||
        value === null ||
        (typeof value === 'object' && Object.keys(value).length === 0) ||
        (typeof value === 'string' && value.trim().length === 0)
      );
    }

    $(document).ready(function() {
      $('.custom-file-input').on('change', function() {
        let fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
      });
    });
  
    $(document).ready(function(){
      $('.card').on('dragover', function(e){
        e.preventDefault();
        e.stopPropagation();
        $(this).addClass('drag-over');
        console.log('File is being dragged over the card');
      });
      
      $('.card').on('dragleave', function(e){
        e.preventDefault();
        e.stopPropagation();
        $(this).removeClass('drag-over');
      });
  
      $('.card').on('drop', function(e){
        e.preventDefault();
        e.stopPropagation();
        $(this).removeClass('drag-over');
        var files = e.originalEvent.dataTransfer.files;
        console.log(files)
        handleFiles(files);
        console.log('File DROPPED');


        // Get metadata
        formData.append('type', "video");
        $.ajax({
          url: "/metadata",
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function(data) {

            var metadata = data.metadata;

            formats = data.formats;
            codecs = data.codecs;
            encoders = data.encoders;

            var extension = data.extension;

            // console.log(formats);
            // console.log(metadata);
            // console.log(formatcodecs);

            var bitrate = metadata.streams[0].bit_rate;
            var framerate = metadata.streams[0].avg_frame_rate;
            var pixelformat = metadata.streams[0].pix_fmt;
            var codecName = metadata.streams[0].codec_name;
            var codecNameLong = metadata.streams[0].codec_long_name;

            console.log(bitrate)
            console.log(framerate)
            console.log("PIXEL: " + pixelformat)
            // populate the text fields with the metadata values
            // $("#duration").val(metadata.format.duration);
            $("#inputResolution").val(metadata.streams[0].width + "x" + metadata.streams[0].height);
            $("#inputBitrate").val(bitrate);
            $("#inputFramerate").val(framerate.split("/")[0]);
            $("#inputPixelFormat").val(pixelformat);

            console.log("RECEIVED FORMATS")
            let dropdownFormat = $("#pickerFormat");
            const keysFormat = Object.keys(formats);
            keysFormat.forEach(format => {
              // console.log(codec)
              var value = formats[format]
              console.log("CANMUX: " + value.canMux)
              if (value.canMux) {
                console.log("ADD: " + format)
                dropdownFormat.append(`<option>${format}</option>`);
              }
            });

            console.log("RECEIVED CODECS")
            let dropdownCodec = $("#pickerCodec");
            dropdownCodec.append(`<option></option>`);
            const keysCodec = Object.keys(codecs);
            keysCodec.forEach(codec => {
              // console.log(codec)
              var value = codecs[codec]
              if (value.canEncode) {
                dropdownCodec.append(`<option>${codec}</option>`);
              }
            });

            console.log("RECEIVED ENCODER")
            // var encoderName;
            // var encoderNames;
            let dropdownEncoder = $("#pickerEncoder");
            dropdownEncoder.empty();

            const keysEncoder = Object.keys(encoders);
            var specificCodec = codecs[codecName];
            if (codecs[codecName].description.includes("encoders: ")) {
              var x = "encoders: "
              var encoderString = specificCodec.description.substring(specificCodec.description.indexOf(x) + x.length ).replace(" )", "")
              var encoderNames = encoderString.split(" ")
              console.log("Descr: " + specificCodec.description)
              console.log("String: " + encoderString)
              console.log("Names: " + encoderNames)
              console.log("Encoders for " + codecName + " : "+ encoderNames)
              encoderNames.forEach(encoder => {
                dropdownEncoder.append(`<option>${encoder}</option>`);
              });
            } else {
              if (encoders[codecName]) {
                console.log("Append because encoder was found without: " + codecName)
                dropdownEncoder.append(`<option>${codecName}</option>`);
              } 
            }

            // keysEncoder.forEach(encoder => {
            //   // console.log(codec)
            //   var value = encoders[encoder]
            //   if (value.description.includes("codec " + codecNameLong)) {
            //     // encoderName = value;
            //     dropdownEncoder.append(`<option>${encoder}</option>`);
            //   }
            //   if (value.description.substring("encoder").includes("codec " + codecNameLong)) {
            //     // encoderName = value;
            //     dropdownEncoder.append(`<option>${encoder}</option>`);
            //   }
            // });


            dropdownFormat.find('option').each(function(){
              if ($(this).val() === extension) {
                console.log("Selecting: " + $(this).val())
                $(this).attr('selected', true);
                // dropdownFormat.selectpicker('refresh');
              }
            });
            
            dropdownCodec.find('option').each(function(){
              if ($(this).val() === codecName) {
                console.log("Selecting: " + $(this).val())
                $(this).attr('selected', true);
                // dropdownCodec.selectpicker('refresh');
              }
            });

            // dropdownEncoder.find('option').each(function(){
            //   if ($(this).val() === encoderName) {
            //     $(this).attr('selected', true);
            //     // dropdownCodec.selectpicker('refresh');
            //   }
            // });

          },
          error: function(err) {
            console.error(err);
          }
        });
      });
  
      $(document).on('click', '.delete-btn', function() {
        console.log('File DELETED');
        $(this).closest('.file-box').remove();
      });
  
      $("#convert-button").on("click", function(){

        console.log("CONVERT CLICK");
        console.log(formData);
        
        const selectFormat = document.querySelector('#pickerFormat');
        const selectCodec = document.querySelector('#pickerCodec');
        const selectEncoder = document.querySelector('#pickerEncoder');

        if (isEmpty(selectFormat.value) || isEmpty($('#inputResolution').val()) || isEmpty($('#inputBitrate').val()) || isEmpty($('#inputFramerate').val()) || isEmpty($('#inputPixelFormat').val())) {
          alert("Some fields are empty! Select a format, resolution, bitrate, framerate and pixel format!")
          return;
        }

        var xhr = new XMLHttpRequest();
  
        formData.append("format", selectFormat.value);
        formData.append("codec", selectCodec.value);
        formData.append("encoder", selectEncoder.value);

        formData.append("resolution", $('#inputResolution').val());
        formData.append("bitrate", $('#inputBitrate').val());
        formData.append("framerate", $('#inputFramerate').val());
        formData.append("pixelformat", $('#inputPixelFormat').val());
        // formData.append("audioChannels", $('#inputAudioChannels').val());
        // formData.append("startTime", $('#inputStartTrim').val());
        // formData.append("endTime", $('#inputEndTrim').val());
  
        $.ajax({
          url: '/convertvideo',
          type: 'POST',
          data: formData,
  
          xhrFields: {
            responseType: 'blob'
          },
  
          contentType: false,
          processData: false,
          success: function(data, status, xhr) {
            console.log(status)
            console.log(data);
            var contentDisposition = xhr.getResponseHeader('Content-Disposition');
            var matches = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/.exec(contentDisposition);
            var filename = matches[1].replace(/['"]/g, '');
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(data);
            link.download = filename;
            link.click();
          },
          // error: function(xhr, status, error) {
          //   // console.log("test")
          //   // xhr.responseType = 'text';
          //   // // Handle error
          //   // // var err = eval("(" + xhr.responseText + ")");
          //   console.log(xhr);
          //   // // console.log("XHR-Response: " + JSON.parse(xhr.responseText).error);
          //   // console.log("Error:" + error);
          //   // console.log("Status: " + status);
          //   // console.log("Error.message: " + error.message);
          //   alert(xhr.responseText);
          // }
        });
      });

      $("#preview-button").on("click", function(){
        console.log("PREVIEW CLICK");
        console.log(formData);
        
        var xhr = new XMLHttpRequest();
  
        const selectFormat = document.querySelector('#pickerFormat');
        const selectCodec = document.querySelector('#pickerCodec');
        const selectEncoder = document.querySelector('#pickerEncoder');

        formData.append("format", selectFormat.value);
        formData.append("codec", selectCodec.value);
        formData.append("encoder", selectEncoder.value);

        formData.append("filepath", $('#inputResolution').val());
        // formData.append("format", $('#dropdownMenuButton').val());
        formData.append("resolution", $('#inputResolution').val());
        formData.append("bitrate", $('#inputBitrate').val());
        formData.append("framerate", $('#inputFramerate').val());
        formData.append("pixelformat", $('#inputPixelFormat').val());
        // formData.append("audioChannels", $('#inputAudioChannels').val());
        // formData.append("startTime", $('#inputStartTrim').val());
        // formData.append("endTime", $('#inputEndTrim').val());

        $.ajax({
          url: '/previewvideo',
          type: 'POST',
          data: formData,
  
          // xhrFields: {
          //   responseType: 'blob'
          // },
  
          contentType: false,
          processData: false,

          success: function(html) {
            $('body').html(html);
          }
        });
      }); 

    });
  
    function handleFiles(files) {
      console.log('HANDLE FILES');
  
      for (var i = 0; i < files.length; i++) {
        var file = files[i];
        var fileName = file.name;
        var fileBox = document.createElement('div');
        fileBox.classList.add('file-box');
        fileBox.innerHTML = '<div class="file-name">' + fileName + '</div><button class="delete-btn">Delete</button>';
        $('.card-text.drag-text').after(fileBox);
        $('.upload-icon').addClass('upload-icon-hidden');
      }
  
      console.log('ADDING FILES TO FORM DATA');
      // Adding to formdata
      for (var i = 0; i < files.length; i++) {
          console.log(files[i].path)
          formData.append('file', files[i]);
      }
  
      console.log(formData);
    }
  
    // Dropdown stuff
    $(document).ready(function() {

      const selectFormat = document.querySelector('#pickerFormat');
      const selectCodec = document.querySelector('#pickerCodec');
      const selectEncoder = document.querySelector('#pickerEncoder');
      
      

      selectFormat.addEventListener('change', (event) => {
        let dropdownCodec = $("#pickerCodec");
        let dropdownEncoder = $("#pickerEncoder");
        selectCodec.selectedIndex = 0;
        dropdownEncoder.empty();
      });

/*       selectFormat.addEventListener('change', (event) => {
        var format = event.target.value;
        console.log(format);

        let dropdownFormat = $("#pickerFormat");
        let dropdownCodec = $("#pickerCodec");
        let dropdownEncoder = $("#pickerEncoder");

        var commonExtensions,defaultVideoCodec,defaultAudioCodec
        $.ajax({
          url: '/muxerinfo/' + format,
          type: 'GET',
          success: function (response) {
            // if (!response.success) {
            //   console.error(response.message);
            //   return;
            // }
            console.log(response.values);

            commonExtensions = response.commonExtensions;
            defaultVideoCodec = response.defaultVideoCodec;
            defaultAudioCodec = response.defaultAudioCodec;
            
            console.log("TEST")
            console.log(`Common extensions: ${commonExtensions}`);
            console.log(`Default video codec: ${defaultVideoCodec}`);
            console.log(`Default audio codec: ${defaultAudioCodec}`);

            if (typeof defaultVideoCodec === 'undefined') {
              console.log("defaultVideoCodec is undefined");
            }

            if (!(typeof defaultVideoCodec === 'undefined')) {
              var codecName = defaultVideoCodec
              dropdownCodec.find('option').each(function(){
                if ($(this).val() === codecName) {
                  console.log("Selecting: " + $(this).val())
                  $(this).attr('selected', true);
                  // dropdownCodec.selectpicker('refresh');
                }
              });

              const keysEncoder = Object.keys(encoders);
              var specificCodec = codecs[codecName];
              if (codecs[codecName].description.includes("encoders: ")) {
                var x = "encoders: "
                var encoderString = specificCodec.description.substring(specificCodec.description.indexOf(x) + x.length ).replace(" )", "")
                var encoderNames = encoderString.split(" ")
                console.log("Descr: " + specificCodec.description)
                console.log("String: " + encoderString)
                console.log("Names: " + encoderNames)
                console.log("Encoders for " + codecName + " : "+ encoderNames)
                encoderNames.forEach(encoder => {
                  dropdownEncoder.append(`<option>${encoder}</option>`);
                });
              } else {
                if (encoders[codecName]) {
                  console.log("Append because encoder was found without: " + codecName)
                  dropdownEncoder.append(`<option>${codecName}</option>`);
                } 
              }
            } else {
              console.log("SETTING INDEX 0")
              dropdownCodec.find('option').each(function(){
                if ($(this).val() === "") {
                  console.log("Selecting: " + $(this).val())
                  $(this).attr('selected', true);
                  // dropdownCodec.selectpicker('refresh');
                }
              });
              dropdownEncoder.empty();
            }



          },
          error: function (error) {
            console.error(error);
          }
        });
      }); */

      selectCodec.addEventListener('change', (event) => {
        var codec = event.target.value;
        console.log(codec);

        let dropdownEncoder = $("#pickerEncoder");
        dropdownEncoder.empty();

        var codecName = codec;
        var specificCodec = codec;
        if (codecs[codecName].description.includes("encoders: ")) {
          var x = "encoders: "
          var encoderString = specificCodec.description.substring(specificCodec.description.indexOf(x) + x.length ).replace(" )", "")
          var encoderNames = encoderString.split(" ")
          console.log("Descr: " + specificCodec.description)
          console.log("String: " + encoderString)
          console.log("Names: " + encoderNames)
          console.log("Encoders for " + codecName + " : "+ encoderNames)
          encoderNames.forEach(encoder => {
            dropdownEncoder.append(`<option>${encoder}</option>`);
          });
        } else {
          if (encoders[codecName]) {
            console.log("Append because encoder was found without: " + codecName)
            dropdownEncoder.append(`<option>${codecName}</option>`);
          } 
        }

        // var codecNameLong = codecs[codec].description;

        // console.log(codecNameLong)

        // const keysEncoder = Object.keys(encoders);
        //   keysEncoder.forEach(encoder => {
        //     var value = encoders[encoder]

        //     if (encoder == "h263") {
        //       console.log(value)
        //     }

        //     if (value.description.includes(codecNameLong)) {
        //       // encoderName = value;
        //       dropdownEncoder.append(`<option>${encoder}</option>`);
        //     }
        // });

        // $.ajax({
        //   type: "GET",
        //   url: "/formatcodecs/" + format,
        //   success: function(data) {
        //     var formatcodecs = data.videoCodecs;

        //     console.log("RECEIVED CODECS")
        //     let dropdownCodec = $("#pickerCodec");
        //     dropdownCodec.empty();

        //     const keysCodec = Object.keys(formatcodecs);
        //     keysCodec.forEach(codec => {
        //       // console.log(codec)
        //       dropdownCodec.append(`<option>${codec}</option>`);
        //     });
        //   }
        // });
      });

      // selectCodec.addEventListener('change', (event) => {
      //   var value = event.target.value;
      //   console.log(value);
      //   // Append other fields if needed
      //   formData.append('codec', value);
      // });

    });

  </script>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <!-- <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Hochladen</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
        </div>
      </div>
    </div> -->
    
    
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Drag and Drop File Upload</h5>
                <div class="form-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                  <div class="upload-icon">
                    <i class="fas fa-cloud-upload-alt"></i>
                  </div>
                  <div class="card-text drag-text">
                    or drag and drop your file here
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <form>
          <div class="form-group">
            <div>
              <label class="pickerlabel" width="2000px" for="pickerFormat">Format Picker:</label>
              <select class="selectpicker" id="pickerFormat">
              </select>
            </div>
    
            <div>
              <label class="pickerlabel" for="pickerCodec">Codec Picker:</label>
              <select class="selectpicker" id="pickerCodec">
              </select>
            </div>

            <div>
              <label class="pickerlabel" for="pickerEncoder">Encoder Library:</label>
              <select class="selectpicker" id="pickerEncoder">
              </select>
            </div>
          </div>
        </form>
        <br>
        <div style="display: flex; align-items: center; justify-content: center; width: 200px;">
          <div><input style="width:  100%;" type="submit" id="convert-button" value="Convert"></div>
          <div><input style="width:  100%;" type="submit" id="preview-button" value="Preview"></div>
          <!-- <a href="http://localhost:3000/previewvideo" target="_blank">Preview</a> -->
        </div>
      </div>

      <form>
        <div class="form-group">
          <label for="inputResolution">Video resolution</label>
            <input type="text" class="form-control" id="inputResolution" placeholder="1920x1080, 1280x720, 854x480, 640x360, 426x240">
          <label for="inputBitrate">Video bitrate</label>
            <input type="text" class="form-control" id="inputBitrate" placeholder="2000kbps, 1000kbps, 500kbps, 250kbps, 100kbps">
          <label for="inputFramerate">Video framerate</label>
            <input type="text" class="form-control" id="inputFramerate" placeholder="60fps, 30fps, 24fps, 15fps, 10fps">
          <label for="inputPixelFormat">Pixel Format</label>
            <input type="text" class="form-control" id="inputPixelFormat" placeholder="yuv420p, yuvj420p, yuv422p, yuvj422p, yuv444p, yuvj444p">
          <!-- <label for="inputStartTrim">Start Trim</label>
            <input type="text" class="form-control" id="inputStartTrim" placeholder="Trim Start HH:mm:ss">
          <label for="inputEndTrim">End Trim</label>
            <input type="text" class="form-control" id="inputEndTrim" placeholder="Trim End HH:mm:ss"> -->
        </div>
      </form>

    <svg style="display:none">
      <defs>
        <symbol id="icon-imageUpload" clip-rule="evenodd" viewBox="0 0 96 96">
          <path d="M47 6a21 21 0 0 0-12.3 3.8c-2.7 2.1-4.4 5-4.7 7.1-5.8 1.2-10.3 5.6-10.3 10.6 0 6 5.8 11 13 11h12.6V22.7l-7.1 6.8c-.4.3-.9.5-1.4.5-1 0-2-.8-2-1.7 0-.4.3-.9.6-1.2l10.3-8.8c.3-.4.8-.6 1.3-.6.6 0 1 .2 1.4.6l10.2 8.8c.4.3.6.8.6 1.2 0 1-.9 1.7-2 1.7-.5 0-1-.2-1.3-.5l-7.2-6.8v15.6h14.4c6.1 0 11.2-4.1 11.2-9.4 0-5-4-8.8-9.5-9.4C63.8 11.8 56 5.8 47 6Zm-1.7 42.7V38.4h3.4v10.3c0 .8-.7 1.5-1.7 1.5s-1.7-.7-1.7-1.5Z M27 49c-4 0-7 2-7 6v29c0 3 3 6 6 6h42c3 0 6-3 6-6V55c0-4-3-6-7-6H28Zm41 3c1 0 3 1 3 3v19l-13-6a2 2 0 0 0-2 0L44 79l-10-5a2 2 0 0 0-2 0l-9 7V55c0-2 2-3 4-3h41Z M40 62c0 2-2 4-5 4s-5-2-5-4 2-4 5-4 5 2 5 4Z"/>
        </symbol>
      </defs>
    </svg>
    
    
    <!-- <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
        </div>
      </div>
    </div> -->
  </div>

  <!-- <h2 class="display-6 text-center mb-4">Compare plans</h2> -->

  <!-- <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 34%;"></th>
          <th style="width: 22%;">Free</th>
          <th style="width: 22%;">Pro</th>
          <th style="width: 22%;">Enterprise</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start">Public</th>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Private</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th scope="row" class="text-start">Permissions</th>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Sharing</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Unlimited members</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Extra security</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
      </tbody>
    </table>
  </div> -->